/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* primary-yellow-light: #ecb913;
    secondary-yellow-dark: #c59b10;
    background-color: #272523;
    font-dark: black;
    font-light: white;
    
    font-family: 'Roboto', sans-serif;
    */

body {
  background-color: #272523;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 18px;
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
  text-align: center;
}
.text_center {
  max-width: 70%;
}
.text_bold {
  font-weight: 300;
  font-size: 20px;
}
.text_underline {
  text-decoration: underline;
  font-size: 18px;
  font-weight: 100;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 70px;
  color: #c59b10;
  line-height: 1.2;
}
.h1_dark {
  font-weight: 400;
  font-size: 50px;
  color: #272523;
  text-align: center;
}
.h1_light {
  font-weight: 400;
  font-size: 50px;
  color: #c59b10;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #c59b10;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 18;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  /* underlining when hovering over a link */
  text-decoration: underline;
}
a:visited {
  /* visited link */
  color: white;
}

a:active {
  /* selected link */
  color: #ecb913;
}
a.content_link {
  text-decoration: underline;
}
.active_link {
  text-decoration: underline;
}
div {
  padding: 30px; /* Adds a 30px inner spacing to all sides*/
  display: block;
  text-align: center;
}
.div_secondary {
  width: 100%;
  padding: 30px;
  background-color: #c59b10;
  display: inline-block;
  text-align: center;
}
.div_third {
  width: 85%;
  border-radius: 30px;
  background-color: #272523;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}
.page-header {
  width: 60%;
  margin: 50px;
  margin-bottom: 10px;
  margin-left: 70px;
  padding: 20px;
  text-align: left;
}
/*.page-intro {
        text-align: left;
      }*/
.navigation-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}
.services-list {
  list-style: none;
  display: block;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  text-align: left;
}
li {
  margin-right: 10px;
}
.page-footer {
  clear: both;
}
.footer {
  font-size: 14px;
  font-weight: 100;
}
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-weight: 300;
  font-size: 16px;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #c59b10;
  color: #272523;
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  /*border: 2px solid black;*/
}
.button_secondary {
  background-color: #272523;
  color: #c59b10;
  border: 2px solid #c59b10; /* Green */
}
button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* index.html grid specifications*/
.grid {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: #272523;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 400px;
  font-size: 20px;
  border-radius: 15px;
}

/* Services.html grid specifications*/
.grid_2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid_item_2 {
  background-color: #272523;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 400px;
  font-size: 20px;
  border-radius: 15px;
}

.grid_3 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.grid_item_3 {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.logo {
  border-radius: 45px;
}
